In [33]:
import pandas as pd
from datetime import datetime

#Assign each file a variable name
file1 = 'GA_RevTranSessUser.csv'
file2 = 'GA_ChannelRevUsersTrans.csv'
file3 = 'GA_DeviceRevUsersTrans.csv'
file4 = 'DailyPlan.csv'
file5 = 'Media Spend.csv'

#Import each file
ga1_df = pd.read_csv(file1)
ga2_df = pd.read_csv(file2)
ga3_df = pd.read_csv(file3)
dailyplan_df = pd.read_csv(file4)
mediaspend_df = pd.read_csv(file5)

#Format the Date column for each file into the correct Date format
ga1_df['Date'] = pd.to_datetime(ga1_df['Date'], format='%Y%m%d')
ga2_df['Date'] = pd.to_datetime(ga2_df['Date'], format='%Y%m%d')
ga3_df['Date'] = pd.to_datetime(ga3_df['Date'], format='%Y%m%d')
dailyplan_df['Date'] = pd.to_datetime(dailyplan_df['Date'], format='%m/%d/%Y')
mediaspend_df['Date'] = pd.to_datetime(mediaspend_df['Date'], format='%m/%d/%Y')

#Check the date field format for each
print(ga1_df.info())
print(ga2_df.info())
print(ga3_df.info())
print(dailyplan_df.info())
print(mediaspend_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 10 columns):
Date                     394 non-null datetime64[ns]
Revenue                  394 non-null float64
Users                    394 non-null float64
Sessions                 394 non-null float64
Transactions             394 non-null float64
Quantity                 394 non-null float64
Bounces                  394 non-null float64
Pages / Session          394 non-null float64
Avg. Session Duration    394 non-null object
Session Duration         394 non-null object
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 30.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4478 entries, 0 to 4477
Data columns (total 5 columns):
Date                        4478 non-null datetime64[ns]
Default Channel Grouping    4478 non-null object
Users                       4478 non-null float64
Revenue                     4478 non-null float64
Transactions                4478 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 175.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 5 columns):
Date               1182 non-null datetime64[ns]
Device Category    1182 non-null object
Users              1182 non-null float64
Revenue            1182 non-null float64
Transactions       1182 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 46.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 9 columns):
Date                              420 non-null datetime64[ns]
TY Event                          283 non-null object
TY Email                          274 non-null object
Daily Revenue Demand Plan         420 non-null int64
Daily Traffic Plan                420 non-null int64
Daily Net Shipped Revenue Plan    420 non-null int64
Orders Plan                       420 non-null float64
Units Plan                        420 non-null float64
Daily Margin $ Plan               420 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 29.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4295 entries, 0 to 4294
Data columns (total 3 columns):
Date       4295 non-null datetime64[ns]
Channel    4295 non-null object
Spend      4295 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 100.7+ KB
None

In [34]:
#ga2 included rows for both "Affiliates" and "Affiliate". Update occurances of "Affiliates" to "Affiliate"
ga2_df = ga2_df.replace({'Affiliates':'Affiliate'})

#ga2 now has multiple rows for the same date for Affiliate. Sum Users, Revenue & Transactions when two rows occur
ga2_df = ga2_df.groupby(['Date','Default Channel Grouping'])['Users', 'Revenue', 'Transactions'].sum().reset_index()

#Pivot the ga2, ga3 & media spend files so that there is a single row for each date
ga2_df = ga2_df.pivot(index='Date', columns=('Default Channel Grouping'))
ga3_df = ga3_df.pivot(index='Date', columns=('Device Category'))
mediaspend_df = mediaspend_df.pivot(index='Date', columns=('Channel'))
print(ga2_df.info())
print(ga3_df.info())
print(mediaspend_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 394 entries, 2016-12-04 to 2018-01-01
Data columns (total 39 columns):
(Users, (Other))                  394 non-null float64
(Users, Affiliate)                394 non-null float64
(Users, CSE)                      371 non-null float64
(Users, Direct)                   394 non-null float64
(Users, Display)                  394 non-null float64
(Users, Email)                    394 non-null float64
(Users, Organic Search)           394 non-null float64
(Users, Organic Social)           394 non-null float64
(Users, Paid Search)              394 non-null float64
(Users, Paid Social)              394 non-null float64
(Users, Partnerships)             143 non-null float64
(Users, Referral)                 394 non-null float64
(Users, Social)                   1 non-null float64
(Revenue, (Other))                394 non-null float64
(Revenue, Affiliate)              394 non-null float64
(Revenue, CSE)                    371 non-null float64
(Revenue, Direct)                 394 non-null float64
(Revenue, Display)                394 non-null float64
(Revenue, Email)                  394 non-null float64
(Revenue, Organic Search)         394 non-null float64
(Revenue, Organic Social)         394 non-null float64
(Revenue, Paid Search)            394 non-null float64
(Revenue, Paid Social)            394 non-null float64
(Revenue, Partnerships)           143 non-null float64
(Revenue, Referral)               394 non-null float64
(Revenue, Social)                 1 non-null float64
(Transactions, (Other))           394 non-null float64
(Transactions, Affiliate)         394 non-null float64
(Transactions, CSE)               371 non-null float64
(Transactions, Direct)            394 non-null float64
(Transactions, Display)           394 non-null float64
(Transactions, Email)             394 non-null float64
(Transactions, Organic Search)    394 non-null float64
(Transactions, Organic Social)    394 non-null float64
(Transactions, Paid Search)       394 non-null float64
(Transactions, Paid Social)       394 non-null float64
(Transactions, Partnerships)      143 non-null float64
(Transactions, Referral)          394 non-null float64
(Transactions, Social)            1 non-null float64
dtypes: float64(39)
memory usage: 123.1 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 394 entries, 2016-12-04 to 2018-01-01
Data columns (total 9 columns):
(Users, desktop)           394 non-null float64
(Users, mobile)            394 non-null float64
(Users, tablet)            394 non-null float64
(Revenue, desktop)         394 non-null float64
(Revenue, mobile)          394 non-null float64
(Revenue, tablet)          394 non-null float64
(Transactions, desktop)    394 non-null float64
(Transactions, mobile)     394 non-null float64
(Transactions, tablet)     394 non-null float64
dtypes: float64(9)
memory usage: 30.8 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 731 entries, 2016-01-01 to 2018-01-01
Data columns (total 6 columns):
(Spend, Affiliate)      731 non-null float64
(Spend, CSE)            731 non-null float64
(Spend, Display)        731 non-null float64
(Spend, PLA)            640 non-null float64
(Spend, Paid Search)    731 non-null float64
(Spend, Paid Social)    731 non-null float64
dtypes: float64(6)
memory usage: 40.0 KB
None

In [55]:
print(dailyplan_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 9 columns):
Date                              420 non-null datetime64[ns]
TY Event                          283 non-null object
TY Email                          274 non-null object
Daily Revenue Demand Plan         420 non-null int64
Daily Traffic Plan                420 non-null int64
Daily Net Shipped Revenue Plan    420 non-null int64
Orders Plan                       420 non-null float64
Units Plan                        420 non-null float64
Daily Margin $ Plan               420 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 29.6+ KB
None

In [70]:
ga2_df = ga2_df.fillna(0)
ga2_df.info()
mediaspend_df = mediaspend_df.fillna(0)
mediaspend_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 394 entries, 2016-12-04 to 2018-01-01
Data columns (total 39 columns):
(Users, (Other))                  394 non-null float64
(Users, Affiliate)                394 non-null float64
(Users, CSE)                      394 non-null float64
(Users, Direct)                   394 non-null float64
(Users, Display)                  394 non-null float64
(Users, Email)                    394 non-null float64
(Users, Organic Search)           394 non-null float64
(Users, Organic Social)           394 non-null float64
(Users, Paid Search)              394 non-null float64
(Users, Paid Social)              394 non-null float64
(Users, Partnerships)             394 non-null float64
(Users, Referral)                 394 non-null float64
(Users, Social)                   394 non-null float64
(Revenue, (Other))                394 non-null float64
(Revenue, Affiliate)              394 non-null float64
(Revenue, CSE)                    394 non-null float64
(Revenue, Direct)                 394 non-null float64
(Revenue, Display)                394 non-null float64
(Revenue, Email)                  394 non-null float64
(Revenue, Organic Search)         394 non-null float64
(Revenue, Organic Social)         394 non-null float64
(Revenue, Paid Search)            394 non-null float64
(Revenue, Paid Social)            394 non-null float64
(Revenue, Partnerships)           394 non-null float64
(Revenue, Referral)               394 non-null float64
(Revenue, Social)                 394 non-null float64
(Transactions, (Other))           394 non-null float64
(Transactions, Affiliate)         394 non-null float64
(Transactions, CSE)               394 non-null float64
(Transactions, Direct)            394 non-null float64
(Transactions, Display)           394 non-null float64
(Transactions, Email)             394 non-null float64
(Transactions, Organic Search)    394 non-null float64
(Transactions, Organic Social)    394 non-null float64
(Transactions, Paid Search)       394 non-null float64
(Transactions, Paid Social)       394 non-null float64
(Transactions, Partnerships)      394 non-null float64
(Transactions, Referral)          394 non-null float64
(Transactions, Social)            394 non-null float64
dtypes: float64(39)
memory usage: 123.1 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 731 entries, 2016-01-01 to 2018-01-01
Data columns (total 6 columns):
(Spend, Affiliate)      731 non-null float64
(Spend, CSE)            731 non-null float64
(Spend, Display)        731 non-null float64
(Spend, PLA)            731 non-null float64
(Spend, Paid Search)    731 non-null float64
(Spend, Paid Social)    731 non-null float64
dtypes: float64(6)
memory usage: 40.0 KB

In [78]:
#Create a new column with either 1 or 0, 1 if there was an email that day, 0 if no email
dailyplan_df['Email Day'] = dailyplan_df['TY Email'].notnull().mul(1)
print(dailyplan_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 20 columns):
Date                              420 non-null datetime64[ns]
TY Event                          283 non-null object
TY Email                          274 non-null object
Daily Revenue Demand Plan         420 non-null int64
Daily Traffic Plan                420 non-null int64
Daily Net Shipped Revenue Plan    420 non-null int64
Orders Plan                       420 non-null float64
Units Plan                        420 non-null float64
Daily Margin $ Plan               420 non-null int64
Promo Type                        257 non-null object
SS                                420 non-null int64
MD                                420 non-null int64
GWP                               420 non-null int64
FF                                420 non-null int64
DOTD                              420 non-null int64
NA                                420 non-null int64
SOS                               420 non-null int64
SWP                               420 non-null int64
EA                                420 non-null int64
Email Day                         420 non-null int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(13), object(3)
memory usage: 64.1+ KB
None

In [79]:
#Create a new column for promo type and extract the type of sale from TY Event
dailyplan_df['Promo Type'] = dailyplan_df['TY Event'].str.extract('(sale on sale|Sale on Sale|SOS|sos|markdowns|Markdowns|SS|Surprise Sale|surprise sale|ss|GWP|DOTD|DOD|New Arrivals|new arrivals|Friends & Family|friends & family|SWP|Employee Appreciation|employee appreciation)')

#Create a new column for each promo type, put 1 if occured 0 if not
dailyplan_df['SS'] = [1 if ele == 'surprise sale' or ele == 'ss' or ele == 'Surprise Sale' or ele == 'SS' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['MD'] = [1 if ele == 'Markdowns' or ele == 'markdowns' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['GWP'] = [1 if ele == 'GWP' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['FF'] = [1 if ele == 'Friends & Family' or ele == 'friends & family' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['DOTD'] = [1 if ele == 'DOD' or ele == 'DOTD' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['NA'] = [1 if ele == 'New Arrivals' or ele == 'new arrivals' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['SOS'] = [1 if ele == 'Sale on Sale' or ele == 'sale on sale'or ele == 'SOS' or ele == 'sos' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['SWP'] = [1 if ele == 'SWP' else 0 for ele in dailyplan_df['Promo Type']]
dailyplan_df['EA'] = [1 if ele == 'Employee Appreciation' or ele == 'employee appreciation' else 0 for ele in dailyplan_df['Promo Type']]

print(dailyplan_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 20 columns):
Date                              420 non-null datetime64[ns]
TY Event                          283 non-null object
TY Email                          274 non-null object
Daily Revenue Demand Plan         420 non-null int64
Daily Traffic Plan                420 non-null int64
Daily Net Shipped Revenue Plan    420 non-null int64
Orders Plan                       420 non-null float64
Units Plan                        420 non-null float64
Daily Margin $ Plan               420 non-null int64
Promo Type                        257 non-null object
SS                                420 non-null int64
MD                                420 non-null int64
GWP                               420 non-null int64
FF                                420 non-null int64
DOTD                              420 non-null int64
NA                                420 non-null int64
SOS                               420 non-null int64
SWP                               420 non-null int64
EA                                420 non-null int64
Email Day                         420 non-null int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(13), object(3)
memory usage: 64.1+ KB
None

C:\Users\jrenaud\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [80]:
#Converting Avg. Session Duration to total Seconds
ga1_df['Avg. Session Duration'].astype('str')
ga_new_df = pd.DataFrame(ga1_df['Avg. Session Duration'].str.split(':').tolist(), columns='hours minutes seconds'.split()).astype('float')
ga_new_df['Hours to Seconds'] = ga_new_df['hours'] * 3600
ga_new_df['Min to Seconds'] = ga_new_df['minutes'] * 60
ga_new_df['Avg. Session Duration Seconds'] = ga_new_df['Hours to Seconds'] + ga_new_df['Min to Seconds'] + ga_new_df['seconds']
ga_new_df = ga_new_df.drop(['hours', 'minutes', 'seconds', 'Hours to Seconds', 'Min to Seconds'], axis=1)
print ga_new_df.head()

   Avg. Session Duration Seconds
0                          210.0
1                          206.0
2                          179.0
3                          195.0
4                          185.0

In [81]:
ga1_df = pd.concat([ga1_df, ga_new_df], axis = 1)
print ga1_df.head()

        Date     Revenue     Users  Sessions  Transactions  Quantity  \
0 2016-12-04  1221370.25  306549.0  379353.0        7667.0   10094.0
1 2016-12-05   704274.10  233431.0  281685.0        5025.0    7252.0
2 2016-12-06   619297.48  282736.0  345140.0        4597.0    6169.0
3 2016-12-07   636135.35  259674.0  321574.0        5004.0    6776.0
4 2016-12-08   777424.30  324932.0  404220.0        6542.0    9046.0

    Bounces  Pages / Session Avg. Session Duration Session Duration  \
0  119198.0             4.36               0:03:30      22102:57:44
1   95546.0             4.24               0:03:26      16100:14:14
2  139158.0             3.72               0:02:59      17118:51:58
3  121949.0             4.01               0:03:15      17390:56:33
4  173149.0             3.82               0:03:05      20827:29:21

   Avg. Session Duration Seconds  Avg. Session Duration Seconds
0                          210.0                          210.0
1                          206.0                          206.0
2                          179.0                          179.0
3                          195.0                          195.0
4                          185.0                          185.0

In [82]:
#Create 1 DataFrame for all 5 files
ga1_ga2_joined_df = ga1_df.join(ga2_df, how='inner', on='Date')
ga_all_joined_df = ga1_ga2_joined_df.join(ga3_df, how='inner', on='Date')
plan_spend_df = dailyplan_df.join(mediaspend_df, how='inner', on='Date')
all_df = ga_all_joined_df.merge(plan_spend_df, how='inner', on='Date')
print(all_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 0 to 392
Data columns (total 85 columns):
Date                              393 non-null datetime64[ns]
Revenue                           393 non-null float64
Users                             393 non-null float64
Sessions                          393 non-null float64
Transactions                      393 non-null float64
Quantity                          393 non-null float64
Bounces                           393 non-null float64
Pages / Session                   393 non-null float64
Avg. Session Duration             393 non-null object
Session Duration                  393 non-null object
Avg. Session Duration Seconds     393 non-null float64
Avg. Session Duration Seconds     393 non-null float64
(Users, (Other))                  393 non-null float64
(Users, Affiliate)                393 non-null float64
(Users, CSE)                      393 non-null float64
(Users, Direct)                   393 non-null float64
(Users, Display)                  393 non-null float64
(Users, Email)                    393 non-null float64
(Users, Organic Search)           393 non-null float64
(Users, Organic Social)           393 non-null float64
(Users, Paid Search)              393 non-null float64
(Users, Paid Social)              393 non-null float64
(Users, Partnerships)             393 non-null float64
(Users, Referral)                 393 non-null float64
(Users, Social)                   393 non-null float64
(Revenue, (Other))                393 non-null float64
(Revenue, Affiliate)              393 non-null float64
(Revenue, CSE)                    393 non-null float64
(Revenue, Direct)                 393 non-null float64
(Revenue, Display)                393 non-null float64
(Revenue, Email)                  393 non-null float64
(Revenue, Organic Search)         393 non-null float64
(Revenue, Organic Social)         393 non-null float64
(Revenue, Paid Search)            393 non-null float64
(Revenue, Paid Social)            393 non-null float64
(Revenue, Partnerships)           393 non-null float64
(Revenue, Referral)               393 non-null float64
(Revenue, Social)                 393 non-null float64
(Transactions, (Other))           393 non-null float64
(Transactions, Affiliate)         393 non-null float64
(Transactions, CSE)               393 non-null float64
(Transactions, Direct)            393 non-null float64
(Transactions, Display)           393 non-null float64
(Transactions, Email)             393 non-null float64
(Transactions, Organic Search)    393 non-null float64
(Transactions, Organic Social)    393 non-null float64
(Transactions, Paid Search)       393 non-null float64
(Transactions, Paid Social)       393 non-null float64
(Transactions, Partnerships)      393 non-null float64
(Transactions, Referral)          393 non-null float64
(Transactions, Social)            393 non-null float64
(Users, desktop)                  393 non-null float64
(Users, mobile)                   393 non-null float64
(Users, tablet)                   393 non-null float64
(Revenue, desktop)                393 non-null float64
(Revenue, mobile)                 393 non-null float64
(Revenue, tablet)                 393 non-null float64
(Transactions, desktop)           393 non-null float64
(Transactions, mobile)            393 non-null float64
(Transactions, tablet)            393 non-null float64
TY Event                          268 non-null object
TY Email                          258 non-null object
Daily Revenue Demand Plan         393 non-null int64
Daily Traffic Plan                393 non-null int64
Daily Net Shipped Revenue Plan    393 non-null int64
Orders Plan                       393 non-null float64
Units Plan                        393 non-null float64
Daily Margin $ Plan               393 non-null int64
Promo Type                        243 non-null object
SS                                393 non-null int64
MD                                393 non-null int64
GWP                               393 non-null int64
FF                                393 non-null int64
DOTD                              393 non-null int64
NA                                393 non-null int64
SOS                               393 non-null int64
SWP                               393 non-null int64
EA                                393 non-null int64
Email Day                         393 non-null int32
(Spend, Affiliate)                393 non-null float64
(Spend, CSE)                      393 non-null float64
(Spend, Display)                  393 non-null float64
(Spend, PLA)                      393 non-null float64
(Spend, Paid Search)              393 non-null float64
(Spend, Paid Social)              393 non-null float64
dtypes: datetime64[ns](1), float64(65), int32(1), int64(13), object(5)
memory usage: 262.5+ KB
None

In [83]:
all_df.to_csv('C:\Users\jrenaud\Documents\Springboard\Project 1\Data Outputs\\all_df.csv')

In [84]:
all_df.to_csv('all_df.csv')